@import "tailwindcss";
@import "tailwindcss/preflight";



@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.pageWrapper {
  @apply min-h-screen flex flex-col items-center justify-start bg-gray-100 p-4;
}

/*.pageWrapper {
  @apply min-h-screen flex justify-center items-start bg-gray-100 py-10;
}*/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.button-primary {
  @apply bg-orange-600 text-white font-semibold py-2 px-4 rounded-xl shadow hover:bg-orange-700 transition block mx-auto my-2;
}

.button-secondary {
  @apply bg-gray-200 text-black font-medium py-2 px-4 rounded hover:bg-gray-300 transition;
}

input, select, textarea {
  @apply border border-gray-300 rounded p-2 w-full;
}


@media (min-width: 640px) {
  main {
    padding: 3rem;
  }
}
footer {
  padding-bottom: 1rem;
}
.uniform-button {
  @apply w-full py-3 text-lg;
}
